html,
body {
  display: block;
  height: 100%;
}
body {
  background: #E0594C;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  min-width: 415px;
}
header {
  text-align: center;
}
.container {
  height: inherit;
  background-color: #ED6B5F;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  min-height: 770px;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 5em;
  color: #fff;
  margin: 0.4em 0 0.2em 0;
}
.stem {
  width: 53px;
  height: 58px;
  position: relative;
  left: 50%;
  background: url("http://s6.postimg.org/gxh1mwbp9/green.png") no-repeat;
}
.radial-progress {
  width: 420px;
  height: 420px;
  margin: 0 auto;
  margin-bottom: 2.1em;
  background-color: #e0594c;
  border-radius: 50%;
}
.radial-progress .circle .mask,
.radial-progress .circle .fill {
  width: 420px;
  height: 420px;
  position: absolute;
  border-radius: 50%;
  transition: -webkit-transform 1s;
  transition: -ms-transform 1s;
  transition: transform 1s;
  -webkit-backface-visibility: hidden;
}
.radial-progress .circle .mask {
  clip: rect(0px, 420px, 420px, 210px);
}
.radial-progress .circle .mask .fill {
  clip: rect(0px, 210px, 420px, 0px);
  background-color: #ffffff;
}
.radial-progress .inset {
  width: 400px;
  height: 400px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #ed6b5f;
  border-radius: 50%;
  text-align: center;
}
.radial-progress .inset h2 {
  margin-top: 36%;
  position: relative;
  font-size: 6.5em;
  margin-left: 0.2em;
  margin-bottom: 0.4em;
}
.radial-progress .inset .play-stop {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  color: #CBE867;
  display: block;
  margin: 0 auto;
  position: relative;
}
.radial-progress .inset .play-stop span {
  font-size: 1.5em;
  position: relative;
  top: 26%;
  margin-left: 0.2em;
}
.timer {
  text-align: center;
  padding: 0;
  margin-left: 24%;
  height: 3.8em;
  background: #FFFFFF;
  background: #ffffff;
  border-style: Solid;
  border-color: #E0594C;
  border-color: #e0594c;
  color: #E0594C;
  border-width: 2px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.timer::after {
  display: block;
  content: "Working Time";
  font-size: 1.35em;
  color: #fff;
  margin-top: 0.5em;
}
.timer:last-child {
  border-color: #B3CC57;
  border-color: #b3cc57;
  color: #B3CC57;
}
.timer:last-child::after {
  content: "Break Time";
}
.timer h3 {
  font-size: 2.5em;
  margin: 0;
  line-height: 1.4;
  display: inline-block;
}
.timer span {
  display: block;
  position: relative;
  font-size: 1.2em;
  padding: 1em 0.8em;
  cursor: pointer;
}
footer {
  text-align: center;
  position: relative;
  margin-top: 5em;
}
footer a {
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 970px) {
  .timer:last-child {
    margin-left: 2em;
  }
}
@media screen and (max-width: 1200px) {
  body {
    font-size: 13px;
  }
  .radial-progress {
    width: 380px;
    height: 380px;
  }
  .radial-progress .circle .mask,
  .radial-progress .circle .fill {
    width: 380px;
    height: 380px;
  }
  .radial-progress .circle .mask {
    clip: rect(0px, 380px, 380px, 190px);
  }
  .radial-progress .circle .mask .fill {
    clip: rect(0px, 190px, 380px, 0px);
  }
  .radial-progress .inset {
    width: 360px;
    height: 360px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .radial-progress .inset .play-stop {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 970px) {
  body {
    font-size: 12px;
  }
  .radial-progress {
    width: 320px;
    height: 320px;
  }
  .radial-progress .circle .mask,
  .radial-progress .circle .fill {
    width: 320px;
    height: 320px;
  }
  .radial-progress .circle .mask {
    clip: rect(0px, 320px, 320px, 160px);
  }
  .radial-progress .circle .mask .fill {
    clip: rect(0px, 160px, 320px, 0px);
  }
  .radial-progress .inset {
    width: 300px;
    height: 300px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .radial-progress .inset .play-stop {
    width: 40px;
    height: 40px;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.6667%;
  }
}
